table {
    border-collapse: collapse;
}
th {
    background-color: #800000;
    color: #fff;
    padding: 10px;
    border: 1px solid #000080;
}
td {
    background-color: #000080;
    color: #fff;
    padding: 10px;
    border: 1px solid #800000;
}